<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report Options</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/report_options" method="POST">
      Generate report by Slot
      Generate report by Date
      Generate report by Staff
    </form>

    <script>
      function redirectToSlot(){
        window.location.href = "http://127.0.0.1:5000/main_page";
      }

      function redirectToDate(){
        window.location.href = "http://127.0.0.1:5000/main_page";
      }

      function redirectToStaffs(){
        window.location.href = "http://127.0.0.1:5000/main_page";
      }
    </script>
</body>
</html>